-var articles = locals
each article in articles
  .col-12.col-lg-6
    article.new.new--mobile
      time.new_date 
        #{article.publishing_date}
      figure.new_figure-mobile
        if article.featured_image
          img.img-fluid.w-100.img-frame(
            src="#{article.featured_image}"
          )
      h2.new_title
        a(href="#").link.link--text-dark.visited #{article.translations.es.title}
