- load i18n

section.contingency(data-active="{{ exists_contingency|lower }}")
  a.contingency-continue.button.button--block.button--yellow(href="{% url 'home' %}")
    | {% trans 'Breaking' %}: {{ contingency.name }}
  a.contingency-navigate.button.button--block(href="#")
    | {% trans 'Continue browsing on Gob.cl' %}
  .container
    .row
      .col-12.col-md-7.col-xl-6.top.bg-yellow.expand-yellow-left
        article.article-contingency
          .row
            .col-12.col-lg-10
              {% include 'includes/toolbar.pug' with dark=True %}
              h2.heading-large {{ contingency.name }}
              h3.heading-sub
                {{ contingency.lead|linebreaksbr }}
              p
                {{ contingency.description|linebreaksbr }}
      .col-12.col-md-5.col-xl-6.top.bg-bluedark.article--dark.expand-bluedark-right
        .article-schedule
          .row
            .col-12.col-lg-10.col-xl-10
              if contingency.events.exists
                for event in contingency.events.all
                  .schedule
                    .schedule_left
                      time.schedule_time.schedule_time--has-dot {{ event.date_time|time:"H:i" }}
                    .schedule_right
                      if event.url
                        a(href="{{ event.get_absolute_url }}").schedule_link
                          {{ event.title }}
                      else
                        {{ event.title }}

    if contingency.informations.exists
      h3.heading-medium.pt-2 {% trans 'Find more information on:' %}
      .row
        for information in contingency.informations.all
          .col-lg-6
            .card-small
              h5.card-small_title
                if information.url
                  a.card-small_link(href="{{information.url}}")
                    | {{ information.title }}
                    i.ic-arrow-right.icon--right
                else
                  | {{ information.title }}
                  i.ic-arrow-right.icon--right
              .card-small_body
                .row
                  .col-12.col-lg-7
                    p.card-small_text
                      {{ information.description }}
    {% include 'includes/social.pug' %}
