- load i18n

footer.site-footer
  .container
    a.site-footer_logo(href="#"): i.icon-gob-footer
    .row
      .col-md-12.col-xl-8
        .row.menu
          for link in footer_links
            .col-sm-12.col-md-6.col-lg-3-col-xl-4
              a(href="{{ link.url }}", target="blank").link.text-white {{ link }}
      .col-md-12.col-xl-4
        a(href="#").button.button--block.site-footer_button {% trans 'Currency visits' %}