- load i18n
- load cms_tags

footer.site-footer
  .container
    a.site-footer_logo(href="#"): i.icon-gob-footer
    .row
      .col-md-12.col-xl-8
        .row.menu
          for link in footer_links
            .col-sm-12.col-md-6.col-lg-3-col-xl-4
              a(href="{{ link.url }}", target="_blank").link.text-white {{ link }}
      .col-md-12.col-xl-4
        ul.social
          li: a(href="https://www.facebook.com/gobiernodechile", target="_blank"): i.ic-facebook
          li: a(href="https://twitter.com/gobiernodechile", target="_blank"): i.ic-twitter
          li: a(href="https://www.instagram.com/gobiernodechile/", target="_blank"): i.ic-instagram
          li: a(href="https://www.youtube.com/user/LAMONEDA", target="_blank"): i.ic-youtube

        a.button.button--block.site-footer_button(
          href="http://visitasguiadas.presidencia.cl/", target="_blank"
        )
          {% static_placeholder 'Visits to the La Moneda palace' or %}
          {% trans 'Visits to the La Moneda palace' %}
          {% endstatic_placeholder %}
