- load i18n

.col-12.col-lg-4.offset-lg-4.col-xl-4.offset-xl-4.text-center.d-lg-none
  br
  .loading-indicator
    i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
    div(style="margin-top: 10px;") {% trans 'Loading...' %}
