- load i18n

header.site-header
  .site-header_fixed
    .container
      a.logo(href="{% url 'home' %} ")
        i.icon-gob
      
      .site-header_right.d-none.d-sm-block

        a(href="#").link.link--dib {% trans 'Procedures and benefits' %}
        a(href="#").link.link--dib {% trans 'News' %}
        a(href="{% url 'institution_list' %}").link.link--dib {% trans 'institutions' %}
        a(href="#").btn-search.toggle-search
          i.ic-search.btn-search_icon
          i.ic-close.btn-search_icon 
        if user.is_authenticated
          .site-header_login
          if request.session.loginas_from_user
              a(href="{% url 'loginas-logout' %}").link.link--dib.text-dark {% trans 'Logout' %}
            else
              a(href="{% url 'logout' %}").link.link--dib.text-dark {% trans 'Logout' %}
        else 
          .site-header_login
              a(href="#")#loginBtn.link.link--dib.text-dark {% trans 'Sign in' %}

      input(type="checkbox" id="menu-trigger").menu-trigger-input
      
      label(for="menu-trigger").menu-trigger
        span
      
      a(href="#").btn-search.btn-search--mobile.toggle-search
        i.ic-search.btn-search_icon
        i.ic-close.btn-search_icon

      nav.navigation
        .container
          h6.heading-label {% trans 'Sections' %}
          ul
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'Procedures and benefits' %}
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'News' %}
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'Institutions' %}
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'About Chile' %}
          

          .navigation_bottom
            a.navigation_logo(href="#"): i.icon-gob-footer
            h4.heading-label.text-white Loreim
            .row
              .col-sm-12
                ul
                  li: a(href="#").link.link--text-light.overflowed-xs {% trans 'Government program 2014 - 2018' %}
                  li: a(href="#").link.link--text-light.overflowed-xs {% trans 'Government program 2014 - 2018' %}
                  li: a(href="#").link.link--text-light.overflowed-xs {% trans 'Government program 2014 - 2018' %}
            .row
              .col-sm-4
                p.text-white {% trans 'Contact us' %}
              .col-sm-8
                ul.social
                  li: a(href="https://www.facebook.com/gobiernodechile", target="blank"): i.ic-facebook
                  li: a(href="https://twitter.com/gobiernodechile", target="blank"): i.ic-twitter
                  li: a(href="https://www.instagram.com/gobiernodechile/", target="blank"): i.ic-instagram
                  li: a(href="https://www.youtube.com/user/LAMONEDA", target="blank"): i.ic-youtube

