- load i18n
- load menu_tags

header.site-header
  .site-header_fixed
    .container
      a.logo(href="{% url 'home' %} ")
        i.icon-gob
      
      .site-header_right

        ul.link.link--dib
          li.dropdown.language-selector
            a.dropdown-toggle(data-toggle="dropdown")
              i.fa.fa-language(aria-hidden="true")
              - get_current_language as current_language
              span= current_language | language_name_local | title
              b.caret
            ul.dropdown-menu.languages
              {% language_chooser %}

        a(href="#").link.link--dib.d-none {% trans 'Procedures and benefits' %}
        a(href="{% url 'pages-root' %}").link.link--dib {% trans 'News' %}
        a(href="{% url 'institution_list' %}").link.link--dib {% trans 'Institutions' %}
        a(href="#").btn-search.toggle-search
          i.ic-search.btn-search_icon
          i.ic-close.btn-search_icon 
        if user.is_authenticated
          .site-header_login
          if request.session.loginas_from_user
            a(href="{% url 'loginas-logout' %}").link.link--dib.text-dark.d-none {% trans 'Logout' %}
          else
            a(href="{% url 'logout' %}").link.link--dib.text-dark.d-none {% trans 'Logout' %}
        else 
          .site-header_login.hidden
            a(href="{% url 'login' %}")#loginBtn.link.link--dib.text-dark.d-none {% trans 'Sign in' %}

      input(type="checkbox" id="menu-trigger").menu-trigger-input
      
      label(for="menu-trigger").menu-trigger
        span

      a(href="#").btn-search.btn-search--mobile.toggle-search
        i.ic-search.btn-search_icon
        i.ic-close.btn-search_icon

      .menu-mobile
        ul.link.link--dib
          li.dropdown.language-selector
            a.dropdown-toggle(data-toggle="dropdown")
              i.fa.fa-language(aria-hidden="true")
              - get_current_language as current_language
              span= current_language
              b.caret
            ul.dropdown-menu.languages
              {% language_chooser %}

      nav.navigation
        .container
          h6.heading-label {% trans 'Sections' %}
          ul
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'Procedures and benefits' %}
            li: a(href="{% url 'pages-root' %}").link.link--medium.overflowed-xs {% trans 'News' %}
            li: a(href="{% url 'institution_list' %}").link.link--medium.overflowed-xs {% trans 'Institutions' %}
            li: a(href="#").link.link--medium.overflowed-xs {% trans 'About Chile' %}

