- load i18n

.site-search.bg-bluedark
  section
    .container
      p
        a(href="#").text-white.toggle-search.d-none.d-sm-inline
          i.ic-arrow-left.icon--left
          | {% trans 'Back' %}
      .row
        .col-sm-12.col-md-12.col-lg-5.order-lg-12.col-xl-5
          .site-search_toolbar.pull-md-right
            {% include 'includes/toolbar.pug' %}
        .col-md-12.col-lg-7.col-xl-7
          .search-form.site-search_form.nomargin-bottom#search
            .search-form_content
              form(action="resultados.html")
                input(type="search" placeholder="{% trans 'Write here what you want to search' %}")#input-search.search-form_input
                button(type="submit").search-form_button.search-form_button--submit: i.ic-search
                button(type="button").search-form_button.search-form_button--cancel: i.ic-delete

      .row
        .col-12
          h2.heading-label.heading-label--light.heading-label--wrapped {% trans 'Filter by Topics' %}
          .tags
            .tags_content
              for category in categories
                .tags_item
                  a(href="#").ctag.ctag--clarity {{category}}
      .row
        .col-md-12.col-lg-4.col-xl-4
          h2.heading-label.heading-label--light {% trans 'Procedures' %}
          div.search_section.overflowed-xs
            a(href="#").link.link--text-light.link--has-dot Bono trabajo mujer
            a(href="#").link.link--text-light Programa Mujer Jefa de Hogar
            a(href="#").link.link--text-light Programa Mujer Jefa de Hogar
            a(href="#").link.link--text-light.hidden-xs Programa Mujer Jefa de Hogar
            a(href="#").link.link--text-light.hidden-xs Programa Mujer Jefa de Hogar
            a(href="#").link.link--text-light.hidden-xs Programa Mujer Jefa de Hogar
            .clearfix
              a(href="#").more.more--right {% trans 'See more' %}

        .col-md-12.col-lg-4.col-xl-4
          h2.heading-label.heading-label--light {% trans 'News' %}
          div.search_section.overflowed-xs
            for news in feature_news
              article.new.new--search
                span.new_category.new_category--light Economia y empleo
                h2.new_title: a(href="{{ news.get_absolute_url }}").link.link--text-light
                  {{ news.title }}
            .clearfix
              a(href="#").more.more--right {% trans 'See more' %}

        .col-md-12.col-lg-4.col-xl-4
          h2.heading-label.heading-label--light {% trans 'Institutions' %}
          div.search_section.overflowed-xs
            for page in most_visited_urls
              a(href="{{ page.content_object.get_absolute_url }}").link.link--text-light {{ page.content_object }}
            .clearfix
              a(href="#").more.more--right {% trans 'See more' %}
        .col-sm-12.col-md-12.text-xs-center.text-sm-center
          .site-search_button-results
            a(href="resultados.html").button.button--clean.button--more {% trans 'See all results' %}
