- load i18n
- load apphooks_config_tags

.site-search.bg-bluedark
  section
    .container
      p
        a(href="#").text-white.toggle-search.d-none.d-sm-inline
          i.ic-arrow-left.icon--left
          | {% trans 'Back' %}
      {% include 'includes/search_bar.pug' %}

      .row
        .col-12.col-lg-4
          h2.heading-label.heading-label--light {% trans 'Procedures' %}
          div.search_section.overflowed-xs
            for file in chile_atiende_files
              a(href="{{ file.get_absolute_url }}").link.link--text-light.link--has-dot
                {{ file.title }}
            .clearfix
              a(href="https://chileatiende.digital.gob.cl/").more.more--right {% trans 'See more' %}

        .col-12.col-lg-4
          h2.heading-label.heading-label--light {% trans 'News' %}
          div.search_section.overflowed-xs
            for news in featured_news
              article.new.new--search
                span.new_category.new_category--light
                  {{ news.categories.all|join:", " }}
                h2.new_title: a(href="{{ news.get_absolute_url }}").link.link--text-light
                  {{ news.title }}
            .clearfix
              a(href="{% namespace_url 'article-list' namespace='aldryn_newsblog_default' default='' %}").more.more--right {% trans 'See more' %}

        .col-12.col-lg-4
          h2.heading-label.heading-label--light {% trans 'Institutions' %}
          div.search_section.overflowed-xs
            for page in most_visited_urls
              a(href="{{ page.content_object.get_absolute_url }}").link.link--text-light {{ page.content_object }}
            .clearfix
              a(href="{% url 'institution_list' %}").more.more--right {% trans 'See more' %}
        .col-sm-12.col-md-12.text-xs-center.text-sm-center
          .site-search_button-results
            a(href="{% url 'article_list' %}").button.button--clean.button--more {% trans 'See all results' %}
