- load i18n

section.sub-section_compact
  .container
    .main-post_social
      .social-links
        ul
          li
            a(href="https://www.facebook.com/gobiernodechile", target="blank")
              i.ic-facebook
          li
            a(href="https://twitter.com/gobiernodechile", target="blank")
              i.ic-twitter
          li
            a(href="https://www.instagram.com/gobiernodechile/", target="blank")
              i.ic-instagram
          li
            a(href="https://www.youtube.com/user/LAMONEDA", target="blank")
              i.ic-youtube
      .social-text
        p {% trans 'Follow us on our social media:' %}