- load i18n

.section-social
  .row.align-items-center
    .col-sm-12.col-md-12.col-lg-3.col-xl-4
      p.section-social_label {% trans 'Síguenos a través de redes sociales:' %}
    .col-sm-12.col-md-12.col-lg-9.col-xl-8
      .row.align-items-center
        .col-sm-12.col-md-3.col-lg-3
          .social
            a(href="#").social_link
            span.social_icon
              i.ic-facebook
            span.social_name {% trans 'Facebook' %}
            span.social_url /gobiernodechile
        .col-sm-12.col-md-3.col-lg-3
          .social
            a(href="#").social_link
            span.social_icon
              i.ic-twitter
            span.social_name {% trans 'Twitter' %}
            span.social_url @Gobiernodechile
        .col-sm-12.col-md-3.col-lg-3
          .social
            a(href="#").social_link
            span.social_icon
              i.ic-instagram
            span.social_name {% trans 'Instagram' %}
            span.social_url /gobiernodechile
        .col-sm-12.col-md-3.col-lg-3
          .social
            a(href="#").social_link
            span.social_icon
              i.ic-youtube
            span.social_name {% trans 'Youtube' %}
            span.social_url Lamoneda