- load i18n

ul.main-post_social
  li
    p {% trans 'Follow us on our social media:' %}
  li
    a(href="https://www.facebook.com/gobiernodechile", target="blank")
      i.ic-facebook
  li
    a(href="https://twitter.com/gobiernodechile", target="blank")
      i.ic-twitter
  li
    a(href="https://www.instagram.com/gobiernodechile/", target="blank")
      i.ic-instagram
  li
    a(href="https://www.youtube.com/user/LAMONEDA", target="blank")
      i.ic-youtube
