- load i18n

.toolbar(data-value="{{ request.user.font_size }}", class="{% if dark %}dark{% endif %}")
  .toolbar_content
    a(href="#").toolbar-button.toolbar-button--contrast
      span.toolbar-button_content
        i.ic-contrast.toolbar-button_icon
    a(href="#").toolbar-button.toolbar-button--less
      span.toolbar-button_content
        i.ic-font-size-less.toolbar-button_icon
    a(href="#").toolbar-button.toolbar-button--plus
      span.toolbar-button_content
        i.ic-font-size-plus.toolbar-button_icon
    .toolbar_player.rs_skip.rsbtn-gobcl-skin#readspeaker_button1
      - get_current_language as current_language
      a.toolbar-button.toolbar-button--listen.rsbtn_play(
      rel="nofollow",
      accesskey="L",
        href="//app-na.readspeaker.com/cgi-bin/rsent?customerid=9676&lang={{current_language}}_us&readclass={% if custom_class %}{{custom_class}}{% else %}a11y-tts{% endif %}&url={{request.scheme}}://{{request.get_host}}{{request.path}}"
      )
        span.toolbar-button_content.rsbtn_left.rsimg.rspart
          span.rsbtn_text
            i.toolbar-button_icon.ic-volume
            span.toolbar-button_text {% trans 'Listen' %}
        span.toolbar-button_content.rsbtn_right.rsimg.rsplay.rspart
  a(href="#").toolbar-button.toolbar-button--toggle
    span.toolbar-button_content
      i.ic-accessibility.toolbar-button_icon
      i.ic-close.toolbar-button_icon
