extends base.pug

- load i18n

block breadcrumbs
  li
    a(href="{% url 'secretary_list' %}")
      | {{opts.verbose_name_plural|capfirst}}

block content
  .text-right
    .btn-group
      if perms.secretaries.change_secretary
        a.btn.btn-primary(href="{% url 'secretary_update' secretary.id %}")
          {% trans 'Update secretary' %}
          i.fa.fa-edit
      if perms.secretaries.delete_secretary
        a.btn.btn-danger(href="{% url 'secretary_delete' secretary.id %}")
          {% trans 'Delete secretary' %}
          i.fa.fa-times

  table.table.table-bordered.table-hover
    tbody
      th Id
      td {{secretary.id}}
