extends base.pug

- load i18n

block content
  .text-right
    .btn-group
      if perms.secretaries.add_secretary
        a.btn.btn-primary(href="{% url 'secretary_create' %}")
          {% trans 'Add secretary' %}
          i.fa.fa-plus

  table.table.table-bordered.table-hover
    thead
      tr
        th Id
        th {% trans 'name'|capfirst %}
        if perms.secretaries.change_secretary
          th
        if perms.secretaries.delete_secretary
          th
    tbody
      for secretary in object_list
        tr
          td
            a(href="{{ secretary.get_absolute_url }}")
              | {{secretary.id}}
          td
            a(href="{{ secretary.get_absolute_url }}")
              | {{secretary}}
          if perms.secretaries.change_secretary
            td
              a.btn.btn-primary(href="{% url 'secretary_update' secretary.id %}")
                {% trans 'Update secretary' %}
                i.fa.fa-edit
          if perms.secretaries.delete_secretary
            td
              a.btn.btn-danger(href="{% url 'secretary_delete' secretary.id %}")
                {% trans 'Delete secretary' %}
                i.fa.fa-times

  {% include 'includes/pagination.pug' %}
