extends base.pug

- load i18n

block content
  .text-right
    .btn-group
      if perms.sociocultural_departments.add_socioculturaldepartment
        a.btn.btn-primary(href="{% url 'sociocultural_department_create' %}")
          {% trans 'Add Socio Cultural Department' %}
          i.fa.fa-plus

  table.table.table-bordered.table-hover
    thead
      tr
        th Id
        th {% trans 'name'|capfirst %}
        if perms.sociocultural_departments.change_socioculturaldepartment
          th
        if perms.sociocultural_departments.delete_socioculturaldepartment
          th
    tbody
      for sociocultural_department in object_list
        tr
          td
            a(href="{{ sociocultural_department.get_absolute_url }}")
              | {{sociocultural_department.id}}
          td
            a(href="{{ sociocultural_department.get_absolute_url }}")
              | {{sociocultural_department}}
          if perms.sociocultural_departments.change_socioculturaldepartment
            td
              a.btn.btn-primary(href="{% url 'sociocultural_department_update' sociocultural_department.id %}")
                {% trans 'Update Socio Cultural Department' %}
                i.fa.fa-edit
          if perms.sociocultural_departments.delete_socioculturaldepartment
            td
              a.btn.btn-danger(href="{% url 'sociocultural_department_delete' sociocultural_department.id %}")
                {% trans 'Delete Socio Cultural Department' %}
                i.fa.fa-times

  {% include 'includes/pagination.pug' %}
