
- load utils

if instance.child_plugin_instances
  .gallery
    for a, b in instance.child_plugin_instances|group:2
      .gallery-slide
        .img-thumbnail: .gallery-image(style="background-image: url({{ a.image.url }})")
        .img-thumbnail: .gallery-image(style="background-image: url({{ b.image.url }})")
