
- load utils
- load thumbnail

if instance
  .gallery
    for image in instance.imagegallery_set.all
      .img-box
        .gallery-image(
          style="background-image: url({% thumbnail image.image 300x300  %})",
          data-mfp-src="{{ image.image.url }}"
          data-text="{{ image.caption }}"
        )
