/*
  Variables
  override bootstrap variables.
 -------------------------------------------------- */

$django-cms-toolbar: 5px;
$django-cms-toolbar-expanded: 49px;

$imagesPath: "../@gobdigital-cl/gob.cl/dist/images/";
$fontsPath: "../@gobdigital-cl/gob.cl/dist/fonts/";
$iconsPath: "../@gobdigital-cl/gob.cl/dist/images/icons/";

@import "../../../node_modules/@gobdigital-cl/gob.cl/src/scss/vairables";
@import "../../../node_modules/@gobdigital-cl/gob.cl/src/scss/functions";
