
@import "_variables";

body {
  .page-loading-icon {
    display: none;
    left: 10px;
    position: relative;
  }

  &.wait {
    cursor: wait !important;

    .page-loading-icon {
      display: inline-block;
    }
  }
}

.post-video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

img.mfp-img {
  margin-left: auto;
  margin-right: 0px;
}

.mfp-content {
  .row {
    pointer-events: none;
    div {
      pointer-events: all;
    }
  }

  .mfp-close {
    right: 4px;
  }

  .mfp-counter {
    right: 10px;
  }
}
