- load i18n

section.sub-section
  .row
    .col-12
      .row
        .col-md-6.col-lg-7
          .embed-responsive.embed-responsive-16by9
            {{ stream.iframe|safe }}
        .col-md-6.col-lg-5
          h2 {{ stream.title }}
          p {{ stream.description }}
          if stream.url
            a.button.button--block.button--light.button--clean.button--space.a11y-tts(
              href="{{stream.url}}"
            )
              {% trans 'See more' %}
