- load i18n cms_tags apphooks_config_tags

block content
  main.site-main
    section.section
      .container
        .row
          .col-sm-12.col-md-12.col-lg-6.offset-lg-6.col-xl-5.offset-xl-7
            .d-none.d-lg-block.pull-md-right
              {% include 'includes/toolbar.pug' with dark=True %}
          .col-sm-12.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
            article.main-post
              time.main-post_date {{ article.publishing_date|date }}
              h1.main-post_title {% render_model article "title" %}

              {% render_model article "lead_in" %}

              ul.main-post_social
                li: p {% trans 'Share this news through your social networks' %}
                li: a(href="#"): i.ic-messenger
                li: a(href="#"): i.ic-facebook
                li: a(href="#"): i.ic-twitter
              {% render_placeholder article.content language placeholder_language %}

    if article.related.all
      section
        .container
          h3.heading-medium {% trans 'Related news' %}

          {%  include 'aldryn_newsblog/includes/article_miniature_list.pug' with articles=article.related.all %}

    section
      .container
        {% include 'includes/social.pug' %}

