extends base.pug

- load i18n staticfiles cms_tags

block content
  section.section.nopadding.bg-bluedark
    .container
      article.article-hero.article--dark.text-light
        .row
          .col-12.col-lg-6.col-xl-5.order-md-12
            .pull-md-right
              {% include 'includes/toolbar.pug' %}
          .col-12.col-lg-6.col-xl-7
            h1.heading-large.a11y-tts {% trans 'News' %}
        if featured_article
          {% include 'articles/includes/featured_article.pug' with article=featured_article %}

  section.section
    .container
      .row.article-miniature-list(data-default-image-url="{% static 'images/default-news.png' %}")
        each article in article_list
          .col-12.col-lg-6
            {% include 'articles/includes/article_miniature.pug' %}

      if not article_list
        h3 {% trans 'There are no news in this category' %}

    {% include 'includes/pagination.pug' %}
  section
    .container
      {% include 'includes/social.pug' %}
