-var articles = locals.article

each article in articles
  .result
    //- a.result_link(href="https://www.chileatiende.gob.cl/fichas/ver/{{chile_atiende_file.id}}")
    //-   {{ chile_atiende_file.titulo }}
    //- p.result_excerpt
    //-   {{ chile_atiende_file.objetivo|striptags|truncatechars:100 }}
    //- span.result_date {{ chile_atiende_file.fecha|slice:":10" }}
    //-   |  {{chile_atiende_file.servicio}}
