extends base.pug

- load i18n

block breadcrumbs
  li
    a(href="{% url 'region_list' %}")
      | {{opts.verbose_name_plural|capfirst}}

block content
  {{ region.name }}
  
  select
    for commune in region.commune_set.all
      option(value="{{ commune.id }}") {{ commune.name }}
