extends base.pug

- load i18n
- load staticfiles
- load thumbnail

block meta_tags
  meta(name="description", content="{{region.description}}")
  if region.governor.photo
    meta(name="image", content="{{ request.scheme }}://{{ request.get_host }}{{region.governor.photo.url}}")
    meta(itemprop='image', content='{{ request.scheme }}://{{ request.get_host }}{{region.governor.photo.url}}')
  meta(itemprop='description', content='{{region.description}}')

block javascripts
  script(src="{% static 'js/communes.js' %}")


block content
  section.bg-light
    .container
      ol.breadcrumb
        li: a.a11y-tts(href="/") Home
        li: a.a11y-tts(href="{% url 'institution_list' %}") {% trans 'Institutions' %}
        li: a.a11y-tts(href="{{ region.region.get_absolute_url }}") {{ region.name }}
  section.section--medium.bg-bluedark
    .container
      .row
        .col-sm-12.col-md-12.col-lg-5.order-lg-12.col-xl-5
          .pull-md-right
            {% include 'includes/toolbar.pug' %}
        .col-sm-12.col-md-12.col-lg-7.col-xl-7
          article.text-light.a11y-tts
            h1.heading-large {{ region.name }}
            p {{ region.description }}
  section
    .container
      .row
        .col-sm-12.col-lg-8
          .profile.profile--half.a11y-tts
            .profile_image
              if region.governor.photo
                img.img-fluid.w-100.img-frame(src="{{ region.governor.photo|thumbnail_url:'avatar' }}", alt="")
            .profile_header
              h3.profile_title {{ region.governor.name }}
              span.profile_job {{ region.governor.charge }}

            p {{ region.governor.description }}
            if region.governor.twitter 
              p
                a(href="https://twitter.com/{{ region.governor.twitter  }}", target="blank").profile_twitter
                  | @{{ region.governor.twitter }}

            ul.profile_info
              if region.governor.phone
                li: span {% trans 'Phone' %}: {{ region.governor.phone }}
              if region.governor.email
                li: span {% trans 'E-Mail' %}: {{ region.governor.email }}
        .col-sm-12.col-lg-4.align-self-end
          .profile_buttons
            a(href="{{ region.url }}", target="blank").button.button--block
              {% trans 'Go to the regional government site' %}
            if perms.regions.change_region
              a(href="{% url 'admin:regions_region_change' region.id %}", target="blank").button.button--block
                {% trans 'edit region'|capfirst %}
            if perms.regions.delete_region
              a(href="{% url 'region_delete' region.id %}", target="blank").button.button--block
                {% trans 'delete region'|capfirst %}
  section.section.bg-light
    .container
      .row
        .col-sm-12.col-lg-4.col-xl-4
          article
            h2.heading-medium.a11y-tts {{ region.commune_set.with_own_municipality.count }} {% trans 'Municipalities' %}
            h3.heading-label.a11y-tts {% trans 'Select a Commune' %}
            .select
              select(id="communes")
                for commune in region.commune_set.all
                  option(value="{{ commune.id }}") {{ commune.name }}
        for commune in region.commune_set.all
          .commune(id="commune-{{ commune.id }}").col-sm-12.col-lg-6.col-xl-4.d-none
            article.card-new.a11y-tts
              h2.card-new_title {{ commune.name }}
              p.card-new_text {{ commune.description }}
              p: a(href="https://twitter.com/{{ commune.twitter }}", target="blank").profile_twitter {{ commune.twitter }}
              ul.profile_info
                if commune.phone
                  li: span {% trans 'Phone' %}: {{ commune.phone }}
                if commune.email
                  li: span {% trans 'E-Mail' %}: {{ commune.email }}

              a(href="{{ commune.url }}", target="blank").link.link--clean.text-red {{ commune.url }}
        .col-sm-12.col-lg-4.col-xl-4
          if perms.regions.add_commune
            a(href="{% url 'commune_create' region.slug %}", target="blank").button.button--block
              {% trans 'create commune'|capfirst %}
          if perms.regions.view_commune
            a(href="{% url 'admin:regions_commune_changelist' %}", target="blank").button.button--block
              {% trans 'commune list'|capfirst %}

  section
    .container
      {% include 'includes/social.pug' %}
