extends base.pug

- load i18n cms_tags staticfiles

block javascripts
  script(src="{% static 'js/search.js' %}")


block content
  section.section.bg-bluedark.text-light
    .container.result-search
      {% include 'includes/search_bar.pug' with custom_class="a11y-tts" %}

  section.section
    .container
      h3.heading-medium.search-results-counts.a11y-tts {{ count }} {% trans 'Results' %}
      .results
        .row.row-results
          .col-12.col-md-10.col-lg-7
            for object in object_list
              .result.a11y-tts
                if object.name
                  hashtag = '#'
                  a.result_link(href="{{ object.get_absolute_url }}{{ hashtag }}{{ object.name|slugify }}")
                    {{ object.name }}
                else
                  a.result_link(href="{{ object.get_absolute_url }}")
                    if object.title
                      {{ object.title }}
                    if object.titulo
                      {{ object.titulo }}
                p.result_excerpt
                  if object.description
                    {{ object.description|striptags|truncatechars:100 }}
                  if object.lead_in
                    {{ object.lead_in|striptags|truncatechars:100 }}
                  if object.objetivo
                    {{ object.objetivo|striptags|truncatechars:100 }}
                span.result_date
                  if object.charge
                    {{ object.charge }}
                  if object.title
                    {{ object.title }}
                  if object.publishing_date
                    {{ object.publishing_date|date }}
                  if object.minister
                    {% trans 'minister'|capfirst %}: {{ object.minister }}
                  if object.governor
                    {% trans 'region manager'|capfirst %}: {{ object.governor }}
                  if object.external_url
                    {{ object.external_url }}
                  if object.url
                    {{ object.url }}
                  if object.fecha
                    {{ object.fecha|slice:":10" }}  
  section
    .container
      {% include 'includes/pagination.pug' %}
      {% include 'includes/social.pug' %}

