extends base.pug

- load i18n cms_tags staticfiles

block javascripts
  script(src="{% static 'js/search.js' %}")


block content
  section.section.bg-bluedark.text-light
    .container.result-search
      {% include 'includes/search_bar.pug' with custom_class="a11y-tts" %}

  section.section
    .container
      h3.heading-medium.search-results-counts.a11y-tts {{ count }} {% trans 'Results' %}
      if not replace_query
        h5 {% trans 'Did you mean:' %}&nbsp;
          a(href="{% url 'search' %}?q={{ suggest_text }}")
            {{ suggest_text|title }}
      elif suggest_text
        h5 {% trans 'Showing results for' %}&nbsp;
          a(href="{% url 'search' %}?q={{ suggest_text }}")
            {{ suggest_text|title }}
        h6 {% trans 'Search instead for' %}&nbsp;
          a(href="{% url 'search' %}?q={{ query }}&replace=keep")
            {{ query|title }}
        
      .results
        .row.row-results
          .col-12.col-md-10.col-lg-7
            for object in chile_atiende_results
              .result.a11y-tts
                a.result_link(href="{{ object.permalink }}")
                  {{ object.titulo }}
                p.result_excerpt
                  {{ object.servicio }}
            for object in object_list
              .result.a11y-tts
                if object.name
                  hashtag = '#'
                  a.result_link(href="{{ object.url.0 }}{{ hashtag }}{{ object.name|slugify }}")
                    if object.meta.highlight.name
                      {{ object.meta.highlight.name.0|safe }}
                    else
                      {{ object.name }}
                elif object.title
                  a.result_link(href="{{ object.url.0 }}")
                    if object.meta.highlight.title
                      {{ object.meta.highlight.title.0|safe }}
                    else
                      {{ object.title }}
                p.result_excerpt
                  if object.description
                    if object.meta.highlight.description
                      {{ object.meta.highlight.description.0|safe|truncatechars:200 }}
                    else
                      {{ object.description|safe|truncatechars:200 }}
                  elif object.lead_in
                    if object.meta.highlight.lead_in
                      {{ object.meta.highlight.lead_in.0|safe|truncatechars:200 }}
                    else
                      {{ object.lead_in|safe|truncatechars:200 }}
                span.result_date
                  if object.meta.highlight.detail
                    {{ object.meta.highlight.detail.0|safe }}
                  else
                    {{ object.detail }}

      {% include 'includes/pagination.pug' %}
  section
    .container
      {% include 'includes/social.pug' %}
