extends base.pug

- load i18n cms_tags staticfiles search_utils

block javascripts
  script(src="{% static 'js/search.js' %}")


block content
  section.section.bg-bluedark.text-light
    .container.result-search
      {% include 'includes/search_bar.pug' with custom_class="a11y-tts" %}

  section.section
    .container
      h3.heading-medium.search-results-counts.a11y-tts {{ count }} {% trans 'Results' %}
      if not replace_query
        h5 {% trans 'Did you mean:' %}&nbsp;
          a(href="{% url 'search' %}?q={{ suggest_text.text }}")
            {{ suggest_text.highlighted|title|safe }}
      elif suggest_text
        h5 {% trans 'Showing results for' %}&nbsp;
          a(href="{% url 'search' %}?q={{ suggest_text.text }}")
            {{ suggest_text.highlighted|title|safe }}
        h6 {% trans 'Search instead for' %}&nbsp;
          a(href="{% url 'search' %}?q={{ query }}&replace=keep")
            {{ query|title }}
        
      .results
        .row.row-results
          .col-12.col-md-10.col-lg-7
            for object in object_list
              .result.a11y-tts
                {% with obj_source=object|get_from_key:'_source' %}
                if obj_source.name
                  hashtag = '#'
                  a.result_link(href="{{ obj_source.url.0 }}{{ hashtag }}{{ obj_source.name|slugify }}")
                    if object.highlight.name
                      {{ object.highlight.name.0|safe }}
                    else
                      {{ obj_source.name }}
                elif obj_source.title
                  a.result_link(href="{{ obj_source.url.0 }}")
                    if object.highlight.title
                      {{ object.highlight.title.0|safe }}
                    else
                      {{ obj_source.title }}
                p.result_excerpt
                  if obj_source.description
                    if object.highlight.description
                      {{ object.highlight.description.0|safe|truncatechars:200 }}
                    else
                      {{ obj_source.description|safe|truncatechars:200 }}
                  elif obj_source.lead_in
                    if object.highlight.lead_in
                      {{ object.highlight.lead_in.0|safe|truncatechars:200 }}
                    else
                      {{ object_source.lead_in|safe|truncatechars:200 }}
                span.result_date
                  if object.highlight.detail
                    {{ object.highlight.detail.0|safe }}
                  else
                    {{ obj_source.detail }}
                {% endwith %}

      {% include 'includes/pagination.pug' %}
  section
    .container
      {% include 'includes/social.pug' %}
