extends base.pug

- load i18n cms_tags

block content
  main.site-main
    section.section.bg-bluedark.text-light
      .container
        {% include 'includes/search_bar.pug' %}

    section.section
      .container
        h3.heading-medium {{ object_list|length }} {% trans 'Results' %}
        .results
          .row
            .col-12.col-md-10.col-lg-7
              for article in object_list
                .result
                  a.result_link(href="{{ article.get_absolute_url }}")
                    {% render_model article "title" %}
                  p.result_excerpt
                    {{ article.lead_in|striptags|truncatechars:100 }}
                  span.result_date {{ article.publishing_date|date }}


    section
      .container
        {% include 'includes/social.pug' %}


