- load i18n

if campaigns
  if campaigns.count == 1
    {% include 'campaigns/includes/campaign.pug' with campaign=campaigns.first template='big' %}
  else
    .row
      for campaign in campaigns
        if forloop.counter0 < 3
          if campaigns.count == 2
            {% include 'campaigns/includes/campaign.pug' with campaign=campaign col=2 %}
          else
            {% include 'campaigns/includes/campaign.pug' with campaign=campaign col=3 %}
        else
          {% include 'campaigns/includes/campaign.pug' with campaign=campaign template='small' %}
