- load i18n
- load thumbnail

if template
  if template == 'big'
    .card-small.d-lg-none
      h5.card-small_title
        a(href="{{ campaign.get_absolute_url }}").card-small_link {{ campaign.title }}
          i.ic-arrow-right.icon--right
      .card-small_body
        p {{ campaign.description }}
    .row.d-none.d-lg-flex
      .col-md-6.align-self-center
        img.img-fluid.w-100.img-frame(src="{% thumbnail campaign.image 700x700 %}", alt="")
      .col-md-1
      .col-md-5.align-self-center
        h5.heading-medium {{ campaign.title }}
        p {{ campaign.description }}
        .row
          .col-lg-10
            a(href="{% url 'about' %}").button.button--block.button--light.button--clean.button--space
              {% trans 'See more' %}

  if template == 'small'
    .col-12.col-lg-6
      article.new.new--mobile
        figure.new_figure-mobile
          img.img-fluid.w-100.img-frame(
            src="{% thumbnail campaign.image 164x90 crop %}",
            alt="{{ campaign.image.alt }}"
          )
        .new_title
          a(href="{{ campaign.get_absolute_url }}").link.link-clean
            h4 {{ campaign.title }}
          a(href="{{ campaign.get_absolute_url }}").link.link--text-dark.visited
            {{ campaign.description|truncatechars:110 }}

else
  div(class="col-lg-{% widthratio 12 col 1 %}")
    article.new.new--mobile.d-block.d-lg-none
      figure.new_figure-mobile
        img.img-fluid.w-100.img-frame(
        src="{% thumbnail campaign.image 164x90 crop %}",
        alt="{{ campaign.image.alt }}"
        )
      .new_title
        a(href="{{ campaign.get_absolute_url }}").link.link-clean
          h4 {{ campaign.title }}
        a(href="{{ campaign.get_absolute_url }}").link.link--text-dark.visited
          {{ campaign.description|truncatechars:110 }}
    a(href="{{ campaign.get_absolute_url }}").featured-card.has-icon.d-none.d-lg-block
      .featured-card_figure.elem-bg
        img(src="{% thumbnail campaign.image 700x240 crop %}", alt="").card_image.img-to-bg
      .featured-card_body
        h2.featured-card_title {{ campaign.title }}
        p {{ campaign.description|truncatechars:110 }}

