extends base.pug

- load i18n
- load thumbnail

block content
  main.site-main
    section.bg-light
      .container
        ol.breadcrumb
          li: a(href="/") {% trans 'Home' %}
          li: a(href="{% url 'institution_list' %}") {% trans 'Institutions' %}

    section.section.bg-bluedark
      .container
        .row
          .col-sm-12.col-md-12.col-lg-5.order-lg-12.col-xl-4
            .pull-md-right
              {% include 'includes/toolbar.pug' %}
          .col-sm-12.col-md-12.col-lg-7.col-xl-8
            article.text-light
              h2.heading-large {{ ministry.name }}
              .row
                .col-xl-10
                  p {{ ministry.description|linebreaks }}

    section
      .container
        .row
          .col-sm-12.col-lg-8
            .profile.profile--half
              .profile_image
                img(src="{{ ministry.minister.photo|thumbnail_url:'avatar' }}", alt="").img-fluid.w-100
              .profile_header
                h3.profile_title {{ ministry.minister.name }}
                if ministry.minister.charge 
                  span.profile_job {{ ministry.minister.charge }}

              p {{ ministry.minister.description|linebreaks }}
              p: a(href="https://twitter.com/{{ ministry.minister.twitter }}", target="blank").profile_twitter {{ ministry.minister.twitter }}
              ul.profile_info
                - if ministry.minister.phone
                  li: span {% trans 'Phone' %}: {{ ministry.minister.phone }}
                - if ministry.minister.email
                  li: span {% trans 'E-Mail' %}: {{ ministry.minister.email }}
          .col-sm-12.col-lg-4.align-self-end
            .profile_buttons
              a(href="{{ ministry.url }}", target="blank").button.button--block {% trans 'Go to the ministry site' %}

    section.bg-light
      .container
        .row
          for servant in ministry.public_servants.all
            .col-sm-12.col-lg-6
              .profile.profile--half-small
                div.profile_image.profile_image--small
                  img(src="{{ servant.photo|thumbnail_url:'avatar' }}", alt="").img-fluid.w-100
                .profile_header
                  h3.profile_title {{ servant.name }}
                  span.profile_job {{ servant.charge }}

                p {{ servant.description|linebreaks }}
                p: a(href="https://twitter.com/{{ servant.twitter }}", target="blank").profile_twitter {{ servant.twitter }}
                ul.profile_info
                  - if servant.phone
                    li: span {% trans 'Phone' %}: {{ servant.phone }}
                  - if servant.email
                    li: span {% trans 'E-Mail' %}: {{ servant.email }}

    section.section
      .container
        h2.heading-medium {% trans 'Institutions of' %} {{ ministry.name }}
        h3.heading-sub {% trans 'Public Enterprises' %}
        .row
          for public_service in ministry.publicservice_set.all
            .col-12.col-md-4
              .list-links
                li
                  a(href="{{ public_service.url }}", target="blank").link
                    | {{ public_service.name }}
    section
      .container
        {% include 'includes/social.pug' %}
