- load cms_tags

section.sub-section
	article
		h2.heading-medium {{ instance.title }}
		.row
			.col-12.col-md-6
				p {{ instance.description|linebreaksbr }}
				if instance.child_plugin_instances
					for plugin in instance.child_plugin_instances
						{% render_plugin plugin %}
			.col-12.col-md-6.d-none.d-sm-block
				if instance.image
					img.img-fluid.w-100.img-frame(src="{{ instance.image.url }}", alt="{% if instance.image.caption %}{{instance.image.caption|linebreaks}}{% else %}{{description|linebreaks}}{% endif %}")