
.gallery .slick-slide .gallery-slide .gallery-image {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.gallery .slick-slide .gallery-slide .img-thumbnail {
  margin: 4px;
}