- load thumbnail
- load cms_tags 
- load apphooks_config_tags

.row
  each article in articles
    if not skip_first or not forloop.first
      .col-sm-12.col-md-12.col-lg-6.col-xl-6
        article.new.new--mobile
          time.new_date 
            {{ article.publishing_date|date }}
          figure.new_figure-mobile
            if article.featured_image_id
              img.img-responsive(
                src="{% thumbnail article.featured_image 495x270 crop subject_location=article.featured_image.subject_location %}",
                alt="{{ article.featured_image.alt }}"
              )
            else
              img(
                src="http://e-gob.github.io/gob.cl/sitio/images/temp/new-3.jpg",
                alt="{{ article.featured_image.alt }}"
              ).img-responsive
          h2.new_title
            a(href="{% namespace_url 'article-detail' article.slug namespace='aldryn_newsblog_default' default='' %}").link.link--text-dark.visited
              {% render_model article "title" %}
