
- load i18n

if is_paginated
  if page_obj.has_previous
    a.button.button--clean(href="?page={{ page_obj.previous_page_number  }}", aria-label="{% trans 'Previous' %}")
      i.fa.fa-angle-left
      span.a11y-tts.rs_preserve {% trans 'Previous' %}
  if page_obj.has_next
    a.button.button--clean(href="?page={{ page_obj.next_page_number }}", aria-label="{% trans 'Next' %}")
      span.a11y-tts.rs_preserve {% trans 'Next' %}
      i.fa.fa-angle-right
